body {
  background-color: black !important;
  color: white !important;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav_items {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
